<% if errors.any? %>
  <div id="error_explanation">
    <p class="alert alert-error">
      The form contains <%= pluralize(errors.count, "error") %>.
    </p>
    <ul>
    <% errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
