<ul class="ticket-list">
<% grouped_tickets.each do |group, tickets| %>
  <li class="ticket-group">
    <h2 class="ticket-group-title">
      Tickets do dia <%= group.last.to_s(:day) %> do estado <%= group.first.upcase %>
    </h2>
  </li>
  <ul class="ticket-group-list">
    <% tickets.each do |ticket| %>
    <li class="ticket">
      <div class="ticket-info">
      <p class="ticket-info-item">
        Origem: <%= t("activerecord.models.attributes.ticket.origins.#{ticket.origin}") %>
      </p>
      <p class="ticket-info-item">
        Razão: <%= t("activerecord.models.attributes.ticket.reasons.#{ticket.reason}") %>
      </p>
      <p class="ticket-info-item">
        Estado: <%= ticket.state.upcase %>
      </p>
      <p class="ticket-info-item">
        Notas: <%= ticket.notes %>
      </p>
      </div>
    </li>
    <% end %>
  </ul>
<% end %>
</ul>
