<%= form_for :ticket, url:{ action: :create } do |f| %>
  <%= render 'shared/form_errors', errors: errors if defined?(errors) %>
  <p>
    <label class="ticket-form-label">Estado da chamada</label>
    <%= f.text_field :state %>
  </p>
  <p>
    <label class="ticket-form-label">Origem da chamada</label>
    <%= f.select :origin, Ticket.origins.map { |key, value| [t("activerecord.models.attributes.ticket.origins.#{key}"), key] } %>
  </p>
  <p>
    <label class="ticket-form-label">Motivo da chamada</label>
    <%= f.select :reason, Ticket.reasons.map { |key, value| [t("activerecord.models.attributes.ticket.reasons.#{key}"), key] } %>
  </p>
  <p>
    <label class="ticket-form-label">Notas da chamada</label>
    <%= f.text_area :notes %>
  </p>
  <%= f.submit %>
<% end %>
