
.app
  width: 960px
  margin: 0 auto
  padding-top: 20px

.ticket-list
  .ticket-group-title
    font-size: 20px
    font-weight: bold
    font-family: 'Oswald', sans-serif
  .ticket-group
    margin-bottom: 35px
  .ticket
    margin-bottom: 30px
    padding: 20px
    border: 1px solid #eee
    .ticket-info-item
      font-family: sans-serif
      font-size: 14px
      margin-bottom: 10px

form
  padding: 20px
  margin: 0 auto
  width: 300px
  .ticket-form-label
    font-family: 'Oswald', sans-serif
    font-size: 20px
    margin-bottom: 5px
    display: block
  input,
  select,
  textarea
    display: block
    width: 100%
    height: 30px
    font-size: 14px
    padding: 3px
  textarea
    height: 60px
  p
    margin-bottom: 20px

